@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>
    E-commerce means buying and selling products and services by businesses and consumers through online.Our
    project Feet up is an E-commerce website.The primary goal of our site is to sell footwear online.
    In this project we will deal with developing an e-commerce website for online product selling.The customers
    will be viewing different products available for purchase in the site.In order to facilitate the online purchase a
    shopping cart will be provided to the customers.The sellers will be adding their products and description easily
    through the website.
</p>
